<h1>大学名，ニックネーム入力画面</h1>

<%= form_for(current_user) do |f| %>
  <%= f.label :university %><br />
  <%= f.text_field :university %><br />
  <%= f.label :user_name %><br />
  <%= f.text_field :user_name %><br />
  <%= f.submit %>
<% end %>

