<div class="panel-innner form">
  <%= form_for (current_user), :url => {:action => 'update'} do |f| %>
    <%= f.label '大学名' %><br />
    <%= f.select :university, [["同志社大学","doshisha"], ["慶應大学","keio"], ["早稲田大学","waseda"]] %><br />
    <%= f.label 'ニックネーム' %><br />
    <%= f.text_field :user_name %><br />
    <%= f.submit "登録してテストする", type: :image, src: "/img/btn-resister.png" %>
  <% end %>
</div>