<% @users.each.with_index(1) do |user, index| %>
    <div class="user-panel <%= index%2 == 0 ? 'even' : 'odd' %> cf">
    <%= image_tag user.image+'?type=large', class: 'user-photo' %>
    <div class="user-info">
      <p class="user-name"><%= user.user_name %></p>
      <p class="univ"><%= set_univ_for_convert user.university %></p>
      <p class="score"><%= Score.where("user_id = ?", user.id).maximum("score") %></p>
      <%= link_to image_tag('/img/sensenhukoku.png', class: 'fukoku'), :controller => 'matchinglist', :action => 'create', :competition_id => user %>
    </div>
    </div>
<% end %>
<%= javascript_include_tag 'pixelate' %>
<script>
  $('.user-photo').spoilerAlert({max: 10, partial: 10});
</script>
