<h1>home画面</h1>

<ul>
	<li>
    my name : <%= current_user.user_name %>
  </li>
  <li>
    enemy name : <%= @competition_username %>
	</li>
  <li>
    my score : <%= @myscore %>
  </li>
  <li>
    enemy score : <%= @enemyscore %>
  </li>
  <li>
    対戦始まった日 : <%= @create_result %>
  </li>
</ul>
