<div class="user-panel cf">
  <%= image_tag @enemy_user.image, class: 'user-image' %>
  <div class="enemy-info">
    <p class="vs-user">
      <span class="head">あなたが宣戦布告した相手</span><br>
      <span class="vs">VS</span><%= @enemy_user.user_name %>
    </p>
    <p class="vs_detail">
      最新の点数
      <%= @new_score %>
      点
    </p>
    <p class="vs-detail">
      対戦開始<%= @my_competition.count %>日目<br>
      <%= @win_count %>勝 <%= @loose_count %>敗<br>
      <span class="removal-chat">チャット解禁まであと<%= @mosaic_count %>勝</span>
    </p>
  </div>
</div>
<div class="my-enemy-graph">
  <canvas id="myChart" width="320" height="200" style="width: 320px; height: 200px;"></canvas>
</div>
<script class="js-custom">
  // #TODO あとでvalueに勝利数を突っ込む
  $('.enemy-photo').spoilerAlert({max: 30, partial: <%= @mosaic_count*3 %>});


  // Get the context of the canvas element we want to select
  var ctx = document.getElementById("myChart").getContext("2d");
  ctx.canvas.width = 320;
  ctx.canvas.height = 200;
  var data = {
      labels: ["日", "月", "火", "水", "木", "金", "土"],
      datasets: [
          {
              label: "My First dataset",
              fillColor: "rgba(43,154,243,0.2)",
              strokeColor: "rgba(43,154,243,1)",
              pointColor: "rgba(43,154,243,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(22,220,220,1)",
              data: <%= @my_score.to_json %>
          },
          {
              label: "My Second dataset",
              fillColor: "rgba(234,99,155,0.2)",
              strokeColor: "rgba(234,99,155,1)",
              pointColor: "rgba(234,99,155,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(151,187,205,1)",
              data: <%= @enemy_score.to_json %>
          }
      ]
  };
  var myLineChart = new Chart(ctx).Line(data);
</script>
