<nav class="bar bar-tab footer">
  <a class="tab-item active" href="<%= root_path %>" data-transition="slide-in">
    <span class="icon icon-home-original"></span>
    <span class="tab-label">Home</span>
  </a>
  <a class="tab-item" href="<%= quiz_index_path %>" data-ignore="push">
    <span class="icon icon-test"></span>
    <span class="tab-label">Test</span>
  </a>
  <a class="tab-item" href="<%= home_show_path %>" data-transition="slide-out">
    <span class="icon icon-status"></span>
    <span class="tab-label">Status</span>
  </a>
  <% if win_count > 2 || messages != nil %>
    <%# 便宜上lastだが、今後、宣戦布告された人一覧チャットを作成予定 %>
    <% if messages.blank? %>
      <a class="tab-item" href="<%= messages_path %>" data-ignore="push">
    <% else %>
      <a class="tab-item" href="<%= messages_path %>/<%= messages.last.competition_id %>" data-ignore="push">
    <% end %>
      <span class="icon icon-chat"></span>
      <span class="tab-label">Chat</span>
    </a>
  <% end %>
</nav>
