<!DOCTYPE html>
<html>
<head>
  <title>Toeic Match</title>
  <%= render :partial => "/layouts/meta" %>
  <%= render :partial => "/layouts/head" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <%= render :partial => "/layouts/header" %>
	<div class="content <%= @style_content unless @style_content.nil? %>">
    <%= yield %>
    <%#= link_to "logout", destroy_user_session_path, method: :delete %>
  </div>
  <% if %w[home message].include?(controller_name) %>
    <%= render :partial => "/layouts/footer" %>
  <% end %>
</body>
</html>
