<!DOCTYPE html>
<html>
<head>
  <title>Toeic Match</title>
  <%= render :partial => "/layouts/meta" %>
  <%= render :partial => "/layouts/head" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <%= render :partial => "/layouts/header" %>
	<div class="content <%= 'login' if controller.controller_name == 'sessions' %>">
    <%= yield %>
    <%#= link_to "logout", destroy_user_session_path, method: :delete %>
  </div>
  <%= render :partial => "/layouts/footer" %>
</body>
</html>
