<!DOCTYPE html>
<html>
<head>
  <title>Toeic Match</title>
  <%= render :partial => "/layouts/meta" %>
  <%= render :partial => "/layouts/head" %>
  <%= csrf_meta_tags %>

</head>
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      :'<%= ENV["FACEBOOK_APP_ID"] %>',
      xfbml      : true,
      version    : 'v2.1'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  <%= render :partial => "/layouts/header" %>
	<div class="content <%= @style_content unless @style_content.nil? %>">
    <%= yield %>
    <%#= link_to "logout", destroy_user_session_path, method: :delete %>
  </div>
  <% if %w[home message].include?(controller_name) %>
    <%= render :partial => "/layouts/footer" %>
  <% end %>
</body>
</html>
